<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="OJUZ-OI では非公式難易度順で各種情報オリンピック (JOI, APIO, IOI) の oj.uz 上の過去問に取り組めます．自分やライバルの提出状況を表示できます．">
  <link rel="icon" href="favicon.ico" />
  <title>OJUZ-OI (非公式難易度順 JOI/APIO/IOI 過去問)</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YCEGH6ERT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-0YCEGH6ERT');
  </script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar color="indigo" class="white--text" app>
        <v-toolbar-title><a href="?" style="color: white; text-decoration: none;">OJUZ-OI (非公式難易度順 JOI/APIO/IOI 過去問)</a>
        </v-toolbar-title>
      </v-app-bar>
      <v-main>

        <v-container>
          <v-card class="my-10 mx-auto" max-width="950px">
            <v-container>
              <v-form ref="form">
                <v-row>
                  <v-col cols="12" class="py-0">
                    <v-text-field v-model="my_handle" label="自分の oj.uz ハンドルネーム"></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" class="py-0">
                    <v-text-field v-model="rivals_handle" label="ライバルの oj.uz ハンドルネーム" placeholder="コンマ区切りで入力">
                    </v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6" class="py-0">
                    <v-select v-model="year_begin" :items="years_begin" item-text="text" item-value="value" label="開始年">
                    </v-select>
                  </v-col>
                  <v-col cols="6" class="py-0">
                    <v-select v-model="year_end" :items="years_end" item-text="text" item-value="value" label="終了年">
                    </v-select>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="joi_sp" :label="`JOIsp`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="joi_op" :label="`JOIop`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="apio" :label="`APIO`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="ioi" :label="`IOI`"></v-checkbox>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="batch" :label="`Batch`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="interactive" :label="`Interactive`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="communication" :label="`Communication`"></v-checkbox>
                  </v-col>
                  <v-col cols="6" md="3" class="py-0">
                    <v-checkbox v-model="output_only" :label="`Output Only`"></v-checkbox>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6">
                    <v-switch v-model="show_unavailable" :label="show_unavailable ? 'ジャッジ未存在問題を表示' : 'ジャッジ未存在問題を非表示'">
                    </v-switch>
                  </v-col>
                  <v-col cols="6">
                    <v-switch v-model="show_ac" :label="show_ac ? 'ACした問題を表示' : 'ACした問題を非表示'">
                    </v-switch>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" class="py-0">
                    <v-select v-model="sort_key" :items="sort_keys" item-text="text" item-value="value" label="ソート順">
                    </v-select>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12">
                    <v-btn color="indigo" class="white--text" @click="update">
                      表示
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card>
        </v-container>

        <v-container>
          <v-simple-table style="max-width: 950px;" class="mx-auto">
            <template v-slot:default>
              <thead>
                <tr>
                  <th>難易度</th>
                  <th>問題名</th>
                  <th>リンク</th>
                  <th>出典</th>
                  <th>問題タイプ</th>
                  <th>ライバル</th>
                </tr>
              </thead>
              <tbody>
                <tr v-bind:class="`status_${task.status}`" v-for="task in tasks">
                  <td v-bind:class="`level_${task.difficulty}`">{{task.difficulty}}</td>
                  <td v-if="task.unavailable">
                    {{task.name}}
                    <v-chip class="ml-2 px-2" color="pink" text-color="white" x-small>Unavailable</v-chip>
                  </td>
                  <td v-if="!task.unavailable">
                    <a v-bind:href="`https://oj.uz/problem/submit/${task.id}`" target="_blank">{{task.name}}</a>
                  </td>
                  <td><a v-if="task.statement_ja !== ''" v-bind:href="task.statement_ja" target="_blank">
                      <v-tooltip bottom><template v-slot:activator="{ on, attrs }">
                          <v-icon color="indigo" v-bind="attrs" v-on="on" small>
                            mdi-file-document-multiple
                          </v-icon>
                        </template>
                        <span>日本語問題文</span>
                      </v-tooltip>
                    </a></td>
                  <td>{{task.comp}} {{task.year}} {{task.day}}</td>
                  <td>{{task.type}}</td>
                  <td>
                    <v-chip v-for="rival_status in task.rivals_status" v-if="rival_status.status !== 'none'"
                      v-bind:color="rival_status.status == 'ac' ? 'green' : 'amber'" text-color="white" class="mx-1 px-1"
                      label small>{{rival_status.name}}</v-chip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-container>

        <v-container style="max-width: 950px;">
          <h2>リンク集</h2>
          <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1JaWDeX_cQkoLkMPrdclkoq_qFpt5mNQSp3XMwXbGVYc/edit#gid=0"
                target="_blank">IOI
                / APIO 非公式難易度表</a><br />
              投票はこちらからお願いします．</li>
            <li><a href="https://pro-ktmr.github.io/aoj-pck/" target="_blank">AOJ-PCK</a><br />
              きたむー (Pro_ktmr) が開発した姉妹サイトです．</li>
          </ul>
        </v-container>

      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="tasks.js"></script>
  <script src="script.js"></script>
</body>

</html>