tr.status_ac td:nth-child(n + 2) {
  background-color: #C8E6C9;
}

tr.status_wa td:nth-child(n + 2) {
  background-color: #FFECB3;
}

td.level_ {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #FFFFFF;
}

td.level_1 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #EBF1DE;
}

td.level_2 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #DCE6F2;
}

td.level_3 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #DBEEF4;
}

td.level_4 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #DDDDDD;
}

td.level_5 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #A5B6CB;
}

td.level_6 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #CCC1DA;
}

td.level_7 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #B3A2C7;
}

td.level_8 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #FCD5B5;
}

td.level_9 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #FFFF00;
}

td.level_10 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #FF6600;
}

td.level_11 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #FF0000;
}

td.level_12 {
  text-align: center;
  font-weight: bold;
  color: #FF0000;
  background: #000000;
}

td.level_13 {
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #FF0000;
  background: #000000;
}

td.level_13:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 4px #ff0000 solid;
  box-sizing: border-box;
}